.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-wrapper {
  padding: 80px 0;
}

.congrats-title {
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 8px;
}

.congrats-text {
  font-size: 18px;
}
