<ion-header>
  <ion-toolbar>
    <app-back-link [color]="'grey'"></app-back-link>
    <ion-title class="page-title">Booking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div>
      <div class="image-wrapper">
        <ion-img src="assets/icons/booking-success-icon.svg"></ion-img>
      </div>
      <div class="ion-text-center">
        <h2 class="congrats-title">Congratulations!</h2>
        <p class="congrats-text">Your booking has been confirmed</p>
      </div>
    </div>
    <ion-button class="orange-btn"
                routerLink="/">Go Back Home</ion-button>
  </div>
</ion-content>
