<ion-header>
  <ion-toolbar>
    <ion-title class="page-title">
      <ion-img src="assets/icons/logo-icon.svg" class="toolbar-logo" alt="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="showSpinner"
               name="lines"
               class="spinner"
  ></ion-spinner>

  <ng-container *ngIf="!showSpinner">
    <app-car-card *ngFor="let car of carList"
                  [car]="car"
    ></app-car-card>
  </ng-container>
</ion-content>

<app-tab-bar></app-tab-bar>
