<ion-header>
  <ion-toolbar>
    <app-back-link [color]="'grey'"></app-back-link>
    <ion-title class="page-title">bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="showSpinner"
               name="lines"
               class="spinner"
  ></ion-spinner>
  <div *ngIf="!showSpinner" class="page-content">
    <ng-container *ngIf="!user">
      <p class="info-text">Please log in to check your bookings</p>
      <a routerLink="/auth" class="link orange-link big-link">Login</a>
    </ng-container>

    <ng-container *ngIf="user">
      <ng-container *ngIf="userBookings.length">
        <div *ngFor="let booking of userBookings; let i = index;" class="booking">
          <h3 class="booking-title">Booking {{ i + 1 }}</h3>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="name-col">
                Name
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.firstName }} {{ booking.lastName }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Email
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.email }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Phone
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.phone }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Date
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.date }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Arrival place
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.arrival }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Drop off place
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.dropOff }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Booked car
              </ion-col>
              <ion-col size="8" class="value-col">
                <a class="link orange-link"
                    (click)="navigateToCarDetails(booking.carDetails)">
                  {{ booking.carDetails.name }} ({{ booking.carDetails.class }})
                </a>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="booking.flight">
              <ion-col size="4" class="name-col">
                Flight
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.flight }}
              </ion-col>
            </ion-row>
            <ion-row *ngIf="booking.notes">
              <ion-col size="4" class="name-col">
                Notes
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.notes }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="name-col">
                Price
              </ion-col>
              <ion-col size="8" class="value-col">
                {{ booking.carDetails.price }} USD
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="cancel-link-wrapper">
            <a class="link orange-link" (click)="cancelBooking(booking.id)">cancel booking</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!userBookings.length">
        <p class="info-text">You have no bookings yet</p>
        <a routerLink="/" class="link orange-link big-link">Select a car</a>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<app-tab-bar></app-tab-bar>
