/* flexbox */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.align-center {
  @extend .d-flex;
  align-items: center;
}

.justify-center {
  @extend .d-flex;
  justify-content: center;
}

.align-xy-center {
  @extend .d-flex;
  align-items: center;
  justify-content: center;
}

.justify-between {
  @extend .d-flex;
  justify-content: space-between;
}

/* text */
.text-center {
  text-align: center;
}
