<ion-header>
  <ion-toolbar>
    <app-back-link [color]="'grey'"></app-back-link>
    <ion-title class="page-title">
      <ng-container *ngIf="!isResetPassword">{{ currentPage }}</ng-container>
      <ng-container *ngIf="isResetPassword">Reset your password</ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div>
      <div class="page-image-container">
        <img src="/assets/icons/{{currentPage}}-icon.svg">
      </div>

      <ng-container *ngIf="!isResetPassword">

        <p *ngIf="showError" class="error-message">{{ errorMessage }}</p>

        <app-login *ngIf="currentPage === 'login'"
                   [form]="form"
                   (resetPasswordEvent)="switchToResetPassword($event)"></app-login>
        <app-register *ngIf="currentPage === 'register'"
                      [form]="form"></app-register>
      </ng-container>

      <ng-container *ngIf="isResetPassword">
        <form [formGroup]="resetPasswordForm">
          <p>Enter your user account's verified email address and we will send you a password reset link. *</p>
          <div class="form-control">
            <img src="assets/icons/email-icon.svg" class="form-control-icon">
            <ion-item>
              <ion-input type="email"
                         formControlName="email"
                         placeholder="Email *"
              ></ion-input>
            </ion-item>
          </div>
          <div class="reset-link-wrap">
            <span (click)="switchBackToLogin()" class="switch-link">Back to login?</span>
          </div>
        </form>
      </ng-container>

    </div>

    <div>
      <div class="switch-form">
        <ng-container *ngIf="currentPage === 'login'">
          Don’t have account? <a class="link" (click)="switchForm('register')">Register</a> here.
        </ng-container>
        <ng-container *ngIf="currentPage === 'register'">
          Already a member? <a class="link" (click)="switchForm('login')">Login</a> here.
        </ng-container>
      </div>
      <ion-button expand="block"
                  class="orange-btn"
                  (click)="submit()">
        <ng-container *ngIf="!resetPasswordForm">{{ currentPage }}</ng-container>
        <ng-container *ngIf="resetPasswordForm">Reset Password</ng-container>
      </ion-button>
    </div>

  </div>
</ion-content>
