.info-text {
  font-size: 18px;
  margin: 20px 0;
}

.link {
  font-size: 18px;
}

.account-title {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px 16px;
}

.name-col {
  font-weight: 600;
  font-size: 16px;
}

.value-col {
  font-size: 16px;
}