<ion-header>
  <ion-toolbar>
    <app-back-link [color]="'grey'"></app-back-link>
    <ion-title class="page-title">booking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <h2 class="page-subtitle" #bookingTitle>Booking Details</h2>

    <ng-container *ngIf="showFormError">
      <ion-text color="danger">
        <p class="ion-margin-top ion-text-center">Please fill all required fields correctly</p>
      </ion-text>
    </ng-container>

    <form [formGroup]="form" class="booking-form ion-margin-top">
      <h3 class="form-subtitle ion-text-center ion-margin-bottom">Contact Information</h3>
      <div class="form-control">
        <ion-icon name="person" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="firstName"
                     placeholder="First Name *"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="person" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="lastName"
                     placeholder="Last Name *"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="call" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="tel"
                     formControlName="phone"
                     placeholder="Phone *"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="mail" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="email"
                     formControlName="email"
                     placeholder="Email *"
          ></ion-input>
        </ion-item>
      </div>

      <h3 class="form-subtitle ion-text-center ion-margin-bottom">Trip Information</h3>
      <div class="form-control">
        <ion-icon name="location" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="arrival"
                     placeholder="Arrival *"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="location" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="dropOff"
                     placeholder="Drop off *"
          ></ion-input>
        </ion-item>
      </div>
      <ion-button class="orange-btn book-form-btn"
                  (click)="openCalendar()">Select Time</ion-button>
      <div class="form-control">
        <ion-icon name="calendar" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="date"
                     placeholder="Selected Time*"
                     readonly
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="airplane" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-input type="text"
                     formControlName="flight"
                     placeholder="Flight"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-icon name="reader" class="form-control-icon"></ion-icon>
        <ion-item>
          <ion-textarea rows="1"
                        formControlName="notes"
                        placeholder="Notes"
          ></ion-textarea>
        </ion-item>
      </div>

      <ion-button class="orange-btn book-form-btn" (click)="submitForm()">
        Book Now
      </ion-button>

    </form>
  </div>
</ion-content>
