<ion-header>
  <ion-toolbar>
    <app-back-link [color]="'grey'"></app-back-link>
    <ion-title class="page-title">payment options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <h2 class="page-subtitle">Amount to be paid</h2>
    <h3 class="amount">{{ amount }} CAD</h3>

    <ion-list>
      <ion-item *ngFor="let payment of paymentMethods"
                class="payment-item"
                (click)="choosePayMethod()">
        <ion-icon src="{{ payment.icon }}" class="payment-icon"></ion-icon>
        <ion-label class="payment-label">{{ payment.name }}</ion-label>
        <ion-icon name="chevron-forward-outline" class="payment-arrow"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
