@import "./mixins";
@import "./variables";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* page */
.page-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.page-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.page-content {
  min-height: 100%;
  padding: 16px 20px !important;
}

/* links */
.link {
  font-weight: 500;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

.orange-link {
  color: $orange-txt;
}

/* forms */
.form-control {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}

.form-control-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

input,
textarea,
select {
  @include disableAutoFill($white-bg);
}

/* grid */
.grid-space-between {
  padding-right: 0;
  padding-left: 0;

  ion-col:first-child {
    padding-left: 0;
  }

  ion-col:last-child {
    padding-right: 0;
    text-align: right;
  }

  .col-inner-wrap {
    margin-bottom: 12px;
  }
}

/* icons */
.orange-icon {
  color: $orange-bg;
}

/* utils */
.d-flex {
  display: flex;
}

.error-message {
  text-align: center;
  color: $error-txt;
}
