/* ion-button */
ion-button {
  margin: 0;
}

.orange-btn {
  --background: #ff5800;
  --border-radius: 4px;
  font-weight: 700;
  height: 40px;
  font-size: 16px;

  &:hover, &:focus, &:active {
    --background: #ee4f00;
  }

  ion-icon {
    color: $white-txt;
  }
}

.button-solid {
  --background-activated: #ee4f00;
  --background-focused: #ee4f00;
  --background-hover: #ee4f00;
}

/* slider bullets */
.swiper-pagination.swiper-pagination-bullets {
  bottom: 120px;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  border: 1px solid $orange-bg;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  width: 20px;
  background-color: $orange-bg;
  border-radius: 5px;
}

/* ion-header */
.ion-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* form */
.sc-ion-textarea-md-h {
  margin-top: 0;
}

/* spinner */
.spinner {
  width: 60px;
  height: 60px;
  color: $orange-bg;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
